/* PHASE 0: Sidebar */
/* .content-header::before {
    content: attr(href="(./images/cat.jpg)");
} */

.profile-picture {
    display: block;
    margin-top: -1;
    position: relative;
    bottom: 120px;
}

.profile-info {
    display: block;
    position: relative;
    bottom: 120px;
}

.profile-info > h2 {
    font-size: 24px;
    font-weight: bold;
    display: block;
    position: relative;
    left: 0px;
    top: 20px;
    bottom: 20px;
}

.profile-info > p {
    font-size: 16px;
    display: block;
    position: relative;
    left: 0px;
    top: 40px;
}