/* PHASE 0: Sidebar */
/* .content-header::before {
    content: attr(href="(./images/cat.jpg)");
} */

.profile-picture {
    display: block;
    margin-top: -1;
    position: relative;
    bottom: 120px;
}

.profile-info {
    display: block;
    position: relative;
    bottom: 120px;
}

.profile-info > h2 {
    font-size: 24px;
    font-weight: bold;
    display: block;
    position: relative;
    left: 0px;
    top: 20px;
    bottom: 20px;
}

.profile-info > p {
    font-size: 16px;
    display: block;
    position: relative;
    left: 0px;
    top: 40px;
}

.profile-nav {
    display: block;
    position: relative;
    bottom: 50px;
}

.profile-nav li {
    border-top: solid lightgray;
    font-weight: 700;
    font-size: 15px;
    padding: 5px;
}

.profile-nav:last-child {
    border-bottom: solid lightgray;
}

.profile-nav li:hover {
    background-color: rgb(226, 226, 226);
}